# Introduction to Python

[Python Documentation](https://docs.python.org/3/contents.html) is a great resource to learn most things python

This course by [Code Academy](https://www.codecademy.com/learn/learn-python-3) is also a great resource

# Markdown

We won't spend much time on Markdown, but here are two great resources if you ever need help formatting your markdown. Both are great resources and will give you the answer to pretty much everything you need to know about Markdowns. Using Markdown throughout your code is super important as it helps format your structure, allows other people to understand what you were doing, and it's a great reminder to yourself on what you were trying to do :) 

[Basic Markdown Syntax](https://www.markdownguide.org/basic-syntax) </p>
[Extended Markdown Syntax](https://www.markdownguide.org/extended-syntax)

I put this first in our session because the most important part of every project is Documentation. Markdowns and Blockquotes allow you to build documentation right into your code

In [ ]:
# You don't always need to create a new cell for a Markdown, instead you can use blockquotes like this

# Basic Operations

## Printing

In [16]:
print('This is my sentence')

This is my sentence

In [17]:
# Note that this won't work because the text isn't in quotes
# Python thinks you are calling a variable, hence the failure
print(this is not how you print)

SyntaxError: invalid syntax (<ipython-input-17-af402e67febd>, line 3)

In [18]:
# Define a variable, print the variable
text = 'This is my text to print'
print(text)

This is my text to print

## Numbers

In [19]:
1 + 1 # Addition

2

In [20]:
10 - 3 # Subtraction

7

In [21]:
10 * 3 # Multiplication

30

In [22]:
17 / 3 # Division

5.666666666666667

In [23]:
17 // 3 # Floor division discards the fractional part

5

In [24]:
17 % 3 # Returns the remainder of the division

2

In [25]:
2 ** 3 # Calculating Powers

8

## Strings

In [26]:
'My test string' # This is a string

'My test string'

In [27]:
"My test string" # Strings can have double quotes too

'My test string'

In [28]:
'doesn't # double quotes are necessary for punctuation

SyntaxError: invalid syntax (<ipython-input-28-6e8dbd62feca>, line 1)

In [29]:
"doesn't"

"doesn't"

## Boolean

In [30]:
True

True

In [31]:
False

False

In [32]:
3 > 4

False

In [33]:
3 = 4 # Python thinks you are assigning the variable 3 to equal 4

SyntaxError: can't assign to literal (<ipython-input-33-9c6bd078251c>, line 1)

## Python Keywords

In [34]:
import keyword # Importing a package. We will go over this more later

keyword.kwlist # Do not define any variables as one of these keywords

# As an aside, you will know it's a keyword because the color will change to green

['False',
 'None',
 'True',
 'and',
 'as',
 'assert',
 'async',
 'await',
 'break',
 'class',
 'continue',
 'def',
 'del',
 'elif',
 'else',
 'except',
 'finally',
 'for',
 'from',
 'global',
 'if',
 'import',
 'in',
 'is',
 'lambda',
 'nonlocal',
 'not',
 'or',
 'pass',
 'raise',
 'return',
 'try',
 'while',
 'with',
 'yield']

## Defining Variables

In [35]:
test_string = 'Hello World' # defining a string variable
print(test_string)

print(' ') # printing a blank space to separate the answers

print(type(test_string))

Hello World

<class 'str'>

In [36]:
one_plus_two = 1 + 2 # Defining an integer variable
print(one_plus_two)

print(' ') # printing a blank space to separate the answers

print(type(one_plus_two))

3

<class 'int'>

In [37]:
number_plus_string = 1 + 'hello' # Can't add string and integer values

print(number_plus_string)

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [39]:
two_strings = 'hello' + ' ' + 'world' # But you can add strings together

print(two_strings)

hello world

In [40]:
one_plus_two + 1 # Adding to an existing variable

4

## Casting & Data Types

In [41]:
str(one_plus_two) + two_strings # You can cast an integer as a string

'3hello world'

In [42]:
float(one_plus_two) # Casting and integer as a decimal

3.0

In [43]:
test_string = '1' # You can occasionally cast a string as an integer
int(test_string)

1

In [44]:
test = 'a'
int(test)

ValueError: invalid literal for int() with base 10: 'a'

# Lists


Lists are the most commonly used data structure. Think of it as a sequence of data that is enclosed in square brackets and data are separated by a comma. Each of these data can be accessed by calling it's index value.

## Creating a List

In [45]:
# Deinfing a list
a = []
print(type(a))

<class 'list'>

In [46]:
list('hello') # Create a list of letters from a string

['h', 'e', 'l', 'l', 'o']

In [47]:
letters = ['a', 'b', 'c'] # Creating a list with multiple items
print(letters)

['a', 'b', 'c']

## Indexing and Slicing

In [52]:
letters[0] # Grabbing the first item of the list via indexing

'a'

In [50]:
letters[-1] # Grabbing the last item of the list via indexing

'c'

In [51]:
# Slicing the list
print(letters[:1])
print(letters[0:2])
print(letters[2:])

['a']
['a', 'b']
['c']

In [53]:
# Find the index of a letter
letters.index('c')

2

In [54]:
letters[2]

'c'

## Basic List Operations

In [55]:
print(len(letters)) # Find the length
print(min(letters)) # Find the minimum value
print(max(letters)) # Find the maximum value

3
a
c

In [56]:
# How to format the output nicely
print('Length of List X: ' + str(len(letters))) # Find the length
print('Minimum Value of List X: ' + str(min(letters))) # Find the minimum value
print('Maximum Value of List X: ' + str(max(letters)))  # Find the maximum value

Length of List X: 3
Minimum Value of List X: a
Maximum Value of List X: c

In [57]:
# Adding values to a list
letters.append('d')
print(letters)

['a', 'b', 'c', 'd']

In [58]:
# Checking for value in a list
'd' in letters

True

In [59]:
# Removing values from a list
letters.remove('d')
print(letters)

['a', 'b', 'c']

In [60]:
# Alternatively, use pop to get rid of the last item in a list
letters.pop() # you can also specify an index value here
print(letters)

['a', 'b']

In [61]:
# Appending a list to another list doens't work as expected
more_letters = ['e', 'd', 'c']
letters.append(more_letters)
print(letters)

['a', 'b', ['e', 'd', 'c']]

In [62]:
letters[2]

['e', 'd', 'c']

In [63]:
# Extending the list does the trick
letters = ['a', 'b']
letters.extend(more_letters)
print(letters)

['a', 'b', 'e', 'd', 'c']

In [64]:
letters[2]

'e'

In [65]:
# Sort the list, values out of order
letters.sort() # ascending
print(letters)

letters.sort(reverse=True) # descending
print(letters)

['a', 'b', 'c', 'd', 'e']
['e', 'd', 'c', 'b', 'a']

In [66]:
# Copying a list
new_letters = letters
print(new_letters)

['e', 'd', 'c', 'b', 'a']

In [67]:
# Reassigning values to a list by an index
new_letters[0] = 'z'
print(new_letters)

['z', 'd', 'c', 'b', 'a']

In [74]:
new_letters['z'] = 'a'

TypeError: list indices must be integers or slices, not str

# Tuples

A tuple is similar to a list in that it's an ordered sequence of elements. However, tuples can not be changed once created (they are "immutable"). Tuples are created by placing comma-separated values inside parentheses ().

## Creating a Tuple

In [68]:
numbers = (1, 2, 3) 
print(numbers)

(1, 2, 3)

In [69]:
# Indexing works the same
numbers[0]

1

In [70]:
# Reassigning values doesn't, hence immutable
numbers[0] = 9

TypeError: 'tuple' object does not support item assignment

In [72]:
test_a = list(numbers)
test_a

[1, 2, 3]

In [73]:
tuple(test_a)

(1, 2, 3)

# Dictionaries

Dictionaries are a container that store key-value pairs. They are unordered.Other programming languages might call this a 'hash', 'hashtable' or 'hashmap'.

In [75]:
# Creating a dictionary
fruits = {'apple': 1, 'banana': 2, 'orange': 3}
print(fruits)

{'apple': 1, 'banana': 2, 'orange': 3}

In [76]:
# Returns a list containing the dictionary's keys
fruits.keys()

dict_keys(['apple', 'banana', 'orange'])

In [77]:
# Returns a list containing the dictionary's values
fruits.values()

dict_values([1, 2, 3])

In [78]:
# Returns a list containing a tuple for each key value pair
fruits.items()

dict_items([('apple', 1), ('banana', 2), ('orange', 3)])

In [79]:
# Add a new item to a dictionary
fruits.update({'kiwi': 4})
print(fruits)

{'apple': 1, 'banana': 2, 'orange': 3, 'kiwi': 4}

In [80]:
# Getting the value from the banana item in the dictionary
fruits['banana']

2

In [82]:
# Creating a dictionary from two lists
states = ['California', 'Oregon', 'Washington']
capitals = ['Sacramento', 'Portland', 'Seattle']

# Create a dictionary called states_capitals, from the lists states & capitals
# Note that zip joins the items together, go here for more information
# https://www.w3schools.com/python/ref_func_zip.asp
states_capitals = dict(zip(states, capitals))
print(states_capitals)

TypeError: 'dict' object is not callable

# Creating Functions

In [92]:
# Create a greeting function
def greeting(name):
    return f"Hello {name}, welcome to the Python Learning Group!"

greeting('Aaron')

'Hello Aaron, welcome to the Python Learning Group!'

In [83]:
# Create a greeting function
def greeting(name):
    return 'Hello ' + name + ', ' + 'welcome to the Python Learning Group!'

greeting('Matt')

'Hello Matt, welcome to the Python Learning Group!'

In [84]:
greeting('Dinesh')

'Hello Dinesh, welcome to the Python Learning Group!'

In [85]:
# Creating an addition function
def addition(x, y): # where x and y are inputs to the funtion
    return x + y

# Call the function with values 3 and 4
addition(3, 4)

7

In [86]:
# Creating a function that puts last name first
def name_format(first_name, last_name):
    return last_name + ', ' + first_name

name_format('Matt', 'Federighi')

'Federighi, Matt'

In [87]:
# Checking whether the number is even or odd
def even_odd(number): 
    if number % 2 == 0:
        return 'This number is even'
    else:
        return 'This number is odd'
    
print(even_odd(1))
print(even_odd(2))

This number is odd
This number is even

# Looping

## While Loop
With the while loop we can execute a set of statements as long as a condition is true.

In [95]:
# Print x as long as x is less than 6
x = 1
while x < 6:
    print(x)
    x += 1 # x = itself + 1

1
2
3
4
5

In [96]:
# With the break statement, we can stop the loop even if the condition is true
x = 1
while x < 6:
    print(x)
    if x == 3:
        break
    x += 1

1
2
3

In [97]:
# With the continue statement we can stop the current iteration, and continue with the next
x = 0
while x < 6:
    x += 1
    if x == 3:
        continue
    print(x)

1
2
4
5
6

In [98]:
# With the else statement we can run a block of code once when the condition no longer is true
x = 1
while x < 6:
    print(x)
    x += 1
else:
    print("x is no longer less than 6")

1
2
3
4
5
x is no longer less than 6

## For Loop
With the for loop we can execute a set of statements, once for each item in a list, tuple, set etc.

In [99]:
# Print each fruit in a list
fruits = ["apple", "banana", "cherry"]
for fruit in fruits:
    print(fruit)

apple
banana
cherry

In [100]:
# The for loop does not require an indexing variable to set beforehand, Even strings are iterable objects
for letter in 'banana':
    print(letter)

b
a
n
a
n
a

In [102]:
# With the break statement we can stop the loop before it has looped through all the items
fruits = ["apple", "banana", "cherry"]
for fruit in fruits:
    print(fruit)
    if fruit == "banana":
        break

apple
banana

In [103]:
# With the continue statement we can stop the current iteration of the loop, and continue with the next
fruits = ["apple", "banana", "cherry"]
for fruit in fruits:
    if fruit == "banana":
        break
    print(fruit)

apple

In [104]:
# The range() function returns a sequence of numbers, starting from 0 by default, and increments by 1 (by default), and ends at a specified number
for x in range(6):
    print(x)

0
1
2
3
4
5

In [105]:
# Print between 2 and 6
for x in range(2, 6):
    print(x)

2
3
4
5

In [106]:
# Print between 1 and 9, by increments of 3
for x in range(1, 9, 3):
    print(x)

1
4
7

In [107]:
# Multiply numbers in a list by 2
numbers = [1, 2, 3, 4, 5]
for number in numbers: 
    print(2 * number)

2
4
6
8
10

In [108]:
# Same thing, except append to a new list
numbers_x_two = []
numbers = [1, 2, 3, 4, 5]
for number in numbers: 
    numbers_x_two.append(number * 2)

numbers_x_two

[2, 4, 6, 8, 10]

In [109]:
# Nested for Loops
adj = ["red", "big", "tasty"]
fruits = ["apple", "banana", "cherry"]

for x in adj:
    for y in fruits:
        print(x, y)

red apple
red banana
red cherry
big apple
big banana
big cherry
tasty apple
tasty banana
tasty cherry

In [110]:
# For Loop with a function
# Using the greetings function above
names = ['Darth', 'Luke', 'Leah']
for name in names:
    print(greeting(name))

Hello Darth, welcome to the Python Learning Group!
Hello Luke, welcome to the Python Learning Group!
Hello Leah, welcome to the Python Learning Group!

In [111]:
# IF ELSE statement in a for loop
numbers = [1, 2, 3, 4, 5, 6]
even_numbers = []
odd_numbers = []
for number in numbers: 
    if number % 2 == 0:
        even_numbers.append(number)
    else: 
        odd_numbers.append(number)
        
print(even_numbers)
print(odd_numbers)

[2, 4, 6]
[1, 3, 5]

## List Comprehension
"List comprehension" is the idea of writing some code inside of a list that will generate a list. They're generally faster and more efficient

Syntax = [expression for item in list]

In [112]:
# For Loop
numbers_x_two = []
numbers = [1, 2, 3, 4, 5]
for number in numbers: 
    numbers_x_two.append(number * 2)

print(numbers_x_two)

# List Comprehension
[number * 2 for number in numbers]

[2, 4, 6, 8, 10]

[2, 4, 6, 8, 10]

In [113]:
# For Loop
numbers = [1, 2, 3, 4, 5, 6]
even_numbers = []
odd_numbers = []
for number in numbers: 
    if number % 2 == 0:
        even_numbers.append(number)
    else: 
        odd_numbers.append(number)
        
print(even_numbers)
print(odd_numbers)


# List Comprehension
even_numbers = [number for number in numbers if number % 2 == 0]
odd_numbers = [number for number in numbers if number % 2 != 0]

print(even_numbers)
print(odd_numbers)

[2, 4, 6]
[1, 3, 5]
[2, 4, 6]
[1, 3, 5]

## Lambda Functions

A lambda function is a small anonymous function.A lambda function can take any number of arguments, but can only have one expression.

In [114]:
# addition
x = lambda a : a + 10
print(x(5))

15

In [115]:
# multiplication
x = lambda a, b : a * b
print(x(5, 6))

30

# Data Frames

DataFrame is a 2-dimensional labeled data structure with columns of potentially different types. You can think of it like a spreadsheet or SQL table, or a dict of Series objects. It is generally the most commonly used pandas object.

In [116]:
# You can create a dataframe from scratch with either pandas or numpy. Here, we will use pandas
import pandas as pd

df = pd.DataFrame()
print(type(df)) # See that this is a dataframe

<class 'pandas.core.frame.DataFrame'>

In [117]:
# Create a simple dataframe from lists
names = ['Tom', 'Ashley', 'Steven']
titles = ['Teacher', 'President', 'Administrator']
age = [32, 29, 23]

df = pd.DataFrame(list(zip(names, titles, age)), columns =['Name', 'Title', 'Age'])

df

     Name          Title  Age
0     Tom        Teacher   32
1  Ashley      President   29
2  Steven  Administrator   23

In [118]:
# Create a dataframe with a list of lists  
names_ages = [['Tom', 32], ['Ashley', 29], ['Steven', 23]] 
    
df = pd.DataFrame(names_ages, columns =['Name', 'Age']) 

df

     Name  Age
0     Tom   32
1  Ashley   29
2  Steven   23

In [119]:
# add a new column to above dataframe
df['Title'] = ['Teacher', 'President', 'Administrator']

df

     Name  Age          Title
0     Tom   32        Teacher
1  Ashley   29      President
2  Steven   23  Administrator

In [ ]:
# Create a dataframe from a dictionary
names = ['Tom', 'Ashley', 'Steven']
titles = ['Teacher', 'President', 'Administrator']
age = [32, 29, 23]

names_dict = {'Name' : names, 'Title' : titles, 'Age' : age}

df = pd.DataFrame(names_dict)

df

In [ ]:
# Create dataframe from list of dictionaries
data = [{'Name': 'Tom', 'Title': 'Teacher', 'Age': 32},
        {'Name': 'Ashley', 'Title': 'President', 'Age': 29},
        {'Name': 'Steven', 'Title': 'Administrator', 'Age': 23}]

df = pd.DataFrame(data)

df