# Reading Files & Intro to Pandas

To use pandas, you'll typically start with the following line of code.

In [3]:
import pandas as pd

There are two core objects in pandas: the DataFrame and the Series.

## Dataframe

A DataFrame is a table. It contains an array of individual entries, each of which has a certain value. Each entry corresponds to a row (or record) and a column.

We are using the pd.DataFrame() constructor to generate these DataFrame objects. The syntax for declaring a new one is a dictionary whose keys are the column names (Bob and Sue in this example), and whose values are a list of entries. This is the standard way of constructing a new DataFrame, and the one you are most likely to encounter.

In [4]:
pd.DataFrame({'David': [81, 93], 
              'Patty': [99, 91]
             })

   David  Patty
0     81     99
1     93     91

In this example, we are assigning an index to the dataframe to make it more readable

In [5]:
pd.DataFrame({'David': [81, 93], 
              'Patty': [99, 91]},
             index = ['Midterm', 'Final'])

         David  Patty
Midterm     81     99
Final       93     91

## Series

A Series, by contrast, is a sequence of data values. If a DataFrame is a table, a Series is a list. And in fact you can create one with nothing more than a list:

In [6]:
pd.Series([1, 2, 3, 4, 5])

0    1
1    2
2    3
3    4
4    5
dtype: int64

A Series is, in essence, a single column of a DataFrame. So you can assign column values to the Series the same way as before, using an index parameter. However, a Series does not have a column name, it only has one overall name:

In [7]:
pd.Series([99, 91], index=['Midterm', 'Final'], name='Test Scores')

Midterm    99
Final      91
Name: Test Scores, dtype: int64

# Reading Data Files

For this demonstration, we are going to be using a subset of a [Spotify Dataset on Kaggle](https://www.kaggle.com/yamaerenay/spotify-dataset-19212020-160k-tracks?select=data.csv). I've gone ahead and reduced the number of records significantly, but you can download the full dataset in the link above.

## Operating System (OS)

First thing to note is about directories. You can always pass the entire file path into the open argument, but sometimes it's easier to just use the file name. If that's the case for you, then make sure you check your current directory with the os package

In [8]:
import os

os.getcwd()

'C:\\Users\\mfederighi\\Jupyter_WD\\Python Learning Group\\Intro to Pandas'

If you want to change your current working directory, then you can do so by doing the following

In [10]:
os.chdir('C:\\Users\\mfederighi\\Jupyter_WD\\Python Learning Group\\JupyterLab Demo')
         
os.getcwd()

'C:\\Users\\mfederighi\\Jupyter_WD\\Python Learning Group\\Intro to Pandas'

There are multiple ways you can read files into python, but for now we are only going to look at the Pandas module

## Read a Single CSV

Being able to create a DataFrame or Series by hand is handy. But, most of the time, we won't actually be creating our own data by hand. Instead, we'll be working with data that already exists.

Data can be stored in any of a number of different forms and formats. By far the most basic of these is the humble CSV file.

In [11]:
spotify_2020 = pd.read_csv("Spotify_2020.csv")

spotify_2020.head() # head shows the first 5 rows by default. If you want more or less, put the number inside the parenthesis

,valence,year,acousticness,artists,danceability,duration_ms,energy,explicit,id,instrumentalness,key,liveness,loudness,mode,name,popularity,release_date,speechiness,tempo
0,0.756,2020,0.2210,"['24kGoldn', 'iann dior']",0.700,140526,0.722,1,3tjFYV6RSFtuktYl3ZtYcq,0.000000,7,0.2720,-3.558,0,Mood (feat. iann dior),99,2020-07-24,0.0369,90.989
1,0.347,2020,0.1140,"['Pop Smoke', 'Lil Baby', 'DaBaby']",0.823,190476,0.586,1,0PvFJmanyNQMseIFrU708S,0.000000,6,0.1930,-6.606,0,For The Night (feat. Lil Baby & DaBaby),95,2020-07-03,0.2000,125.971
2,0.357,2020,0.0194,"['Cardi B', 'Megan Thee Stallion']",0.935,187541,0.454,1,4Oun2ylbjFKMPTiaSbbCih,0.000000,1,0.0824,-7.509,1,WAP (feat. Megan Thee Stallion),96,2020-08-07,0.3750,133.073
3,0.522,2020,0.2440,"['Drake', 'Lil Durk']",0.761,261493,0.518,1,2SAqBLGA283SUiwJ3xOUVI,0.000035,0,0.1070,-8.871,1,Laugh Now Cry Later (feat. Lil Durk),93,2020-08-14,0.1340,133.976
4,0.682,2020,0.4680,['Ariana Grande'],0.737,172325,0.802,1,35mvY5S1H3J2QZyna3TFe0,0.000000,0,0.0931,-4.771,1,positions,96,2020-10-30,0.0878,144.015

There are many different parameters in the read_csv function, [all of which can be seen here](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.read_csv.html)

You can change the separator type, the delimeter, skip the first row, change the column names, etc. There are a lot of options to read in your data and format it appropriately. Here's an example of some of those parameters:

In [14]:
# Read the file, take only the first 3 columns, rename the columns, change the encoding
spotify_2020_test = pd.read_csv("Spotify_2020.csv", usecols = [0, 1, 2], names = ['Valence', 'Year', 'Acousticness'], header = 1)

spotify_2020_test.head()

   Valence  Year  Acousticness
0    0.347  2020        0.1140
1    0.357  2020        0.0194
2    0.522  2020        0.2440
3    0.682  2020        0.4680
4    0.145  2020        0.4010

# General Functions for a Pandas Dataframe

There are a lot of built-in pandas functions to help you get an idea of your dataframe structure

In [15]:
spotify_2020.shape # shows the number of rows and number of columns

(2030, 19)

In [16]:
spotify_2020.size # Shows you the file size

38570

In [17]:
spotify_2020.columns # shows you the columns names

Index(['valence', 'year', 'acousticness', 'artists', 'danceability',
       'duration_ms', 'energy', 'explicit', 'id', 'instrumentalness', 'key',
       'liveness', 'loudness', 'mode', 'name', 'popularity', 'release_date',
       'speechiness', 'tempo'],
      dtype='object')

In [ ]:
# Alternatively, this is how you can change the column names after the dataframe has been defined
# spotify_2020.columns = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j','k', 'l']

In [18]:
spotify_2020.dtypes # See all the data types in the dataframe

valence             float64
year                  int64
acousticness        float64
artists              object
danceability        float64
duration_ms           int64
energy              float64
explicit              int64
id                   object
instrumentalness    float64
key                   int64
liveness            float64
loudness            float64
mode                  int64
name                 object
popularity            int64
release_date         object
speechiness         float64
tempo               float64
dtype: object

In [19]:
spotify_2020.info() # gives a high-level view of the dataframe, including data types and null values

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2030 entries, 0 to 2029
Data columns (total 19 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   valence           2030 non-null   float64
 1   year              2030 non-null   int64
 2   acousticness      2030 non-null   float64
 3   artists           2030 non-null   object
 4   danceability      2030 non-null   float64
 5   duration_ms       2030 non-null   int64
 6   energy            2030 non-null   float64
 7   explicit          2030 non-null   int64
 8   id                2030 non-null   object
 9   instrumentalness  2030 non-null   float64
 10  key               2030 non-null   int64
 11  liveness          2030 non-null   float64
 12  loudness          2030 non-null   float64
 13  mode              2030 non-null   int64
 14  name              2030 non-null   object
 15  popularity        2030 non-null   int64
 16  release_date      2030 non-null   object
 17  speechiness       2030 non-null   float64
 18  tempo             2030 non-null   float64
dtypes: float64(9), int64(6), object(4)
memory usage: 301.5+ KB

In [20]:
spotify_2020.describe() # Does a general summarization of the data for you. Note that strings are excluded from this view

,valence,year,acousticness,danceability,duration_ms,energy,explicit,instrumentalness,key,liveness,loudness,mode,popularity,speechiness,tempo
count,2030.000000,2030.0,2030.000000,2030.000000,2030.000000,2030.000000,2030.000000,2030.000000,2030.000000,2030.000000,2030.000000,2030.000000,2030.000000,2030.000000,2030.000000
mean,0.501048,2020.0,0.219931,0.692904,193728.397537,0.631232,0.495567,0.016376,5.314286,0.178535,-6.595067,0.581281,64.301970,0.141384,124.283129
std,0.222656,0.0,0.240484,0.147439,46758.661550,0.163255,0.500104,0.102608,3.647307,0.137607,3.035709,0.493471,22.107782,0.126730,29.953435
min,0.000000,2020.0,0.000002,0.000000,30579.000000,0.005120,0.000000,0.000000,0.000000,0.024200,-38.414000,0.000000,0.000000,0.000000,0.000000
25%,0.334000,2020.0,0.035800,0.599000,167442.000000,0.532000,0.000000,0.000000,2.000000,0.098800,-7.629250,0.000000,65.000000,0.047000,98.085250
50%,0.509000,2020.0,0.131000,0.716000,190588.000000,0.641000,0.000000,0.000000,5.000000,0.123000,-6.110000,1.000000,70.000000,0.086400,124.710500
75%,0.668750,2020.0,0.321000,0.799000,215993.000000,0.746000,1.000000,0.000018,8.000000,0.208000,-4.885500,1.000000,76.000000,0.207000,145.125500
max,0.976000,2020.0,0.994000,0.980000,646239.000000,1.000000,1.000000,0.963000,11.000000,0.953000,-0.836000,1.000000,100.000000,0.894000,205.895000

Note that release_date is an object and not datetime. We can fix this while reading in the CSV or after we've already read it in

### After we've read it in

In [21]:
import datetime # https://docs.python.org/3/library/datetime.html

In [22]:
spotify_2020['release_date'] = pd.to_datetime(spotify_2020['release_date'], format='%Y-%m-%d')

print(spotify_2020['release_date'].head(), '\n')
print(spotify_2020.info())

0   2020-07-24
1   2020-07-03
2   2020-08-07
3   2020-08-14
4   2020-10-30
Name: release_date, dtype: datetime64[ns]

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2030 entries, 0 to 2029
Data columns (total 19 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   valence           2030 non-null   float64
 1   year              2030 non-null   int64
 2   acousticness      2030 non-null   float64
 3   artists           2030 non-null   object
 4   danceability      2030 non-null   float64
 5   duration_ms       2030 non-null   int64
 6   energy            2030 non-null   float64
 7   explicit          2030 non-null   int64
 8   id                2030 non-null   object
 9   instrumentalness  2030 non-null   float64
 10  key               2030 non-null   int64
 11  liveness          2030 non-null   float64
 12  loudness          2030 non-null   float64
 13  mode              2030 non-null   int64
 14  name              2030 non-null   object
 15  popularity        2030 non-null   int64
 16  release_date      2030 non-null   datetime64[ns]
 17  speechiness       2030 non-null   float64
 18  tempo             2030 non-null   float64
dtypes: datetime64[ns](1), float64(9), int64(6), object(3)
memory usage: 301.5+ KB
None

### While we're reading it in

In [23]:
spotify_2020 = pd.read_csv("Spotify_2020.csv", parse_dates = ['release_date'])

print(spotify_2020['release_date'].head(), '\n')
print(spotify_2020.info())

0   2020-07-24
1   2020-07-03
2   2020-08-07
3   2020-08-14
4   2020-10-30
Name: release_date, dtype: datetime64[ns]

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2030 entries, 0 to 2029
Data columns (total 19 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   valence           2030 non-null   float64
 1   year              2030 non-null   int64
 2   acousticness      2030 non-null   float64
 3   artists           2030 non-null   object
 4   danceability      2030 non-null   float64
 5   duration_ms       2030 non-null   int64
 6   energy            2030 non-null   float64
 7   explicit          2030 non-null   int64
 8   id                2030 non-null   object
 9   instrumentalness  2030 non-null   float64
 10  key               2030 non-null   int64
 11  liveness          2030 non-null   float64
 12  loudness          2030 non-null   float64
 13  mode              2030 non-null   int64
 14  name              2030 non-null   object
 15  popularity        2030 non-null   int64
 16  release_date      2030 non-null   datetime64[ns]
 17  speechiness       2030 non-null   float64
 18  tempo             2030 non-null   float64
dtypes: datetime64[ns](1), float64(9), int64(6), object(3)
memory usage: 301.5+ KB
None

Type in spotify_2020. and then hit tab. It will show you all the options you can use. 

Alternatively, you can go [straight to the documentation](https://pandas.pydata.org/pandas-docs/stable/reference/frame.html) to find all the functions available. Many of these you will never use, but it's helpful to understand what they do.

In [24]:
import datetime as dt
from datetime import datetime

custom_date_parser = lambda x: datetime.strptime(x, "%Y-%m-%d") # here you can define custom datetime formats

spotify_2020 = pd.read_csv("Spotify_2020.csv", parse_dates = ['release_date'], date_parser = custom_date_parser)

print(spotify_2020['release_date'].head(), '\n')
print(spotify_2020.info())

0   2020-07-24
1   2020-07-03
2   2020-08-07
3   2020-08-14
4   2020-10-30
Name: release_date, dtype: datetime64[ns]

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2030 entries, 0 to 2029
Data columns (total 19 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   valence           2030 non-null   float64
 1   year              2030 non-null   int64
 2   acousticness      2030 non-null   float64
 3   artists           2030 non-null   object
 4   danceability      2030 non-null   float64
 5   duration_ms       2030 non-null   int64
 6   energy            2030 non-null   float64
 7   explicit          2030 non-null   int64
 8   id                2030 non-null   object
 9   instrumentalness  2030 non-null   float64
 10  key               2030 non-null   int64
 11  liveness          2030 non-null   float64
 12  loudness          2030 non-null   float64
 13  mode              2030 non-null   int64
 14  name              2030 non-null   object
 15  popularity        2030 non-null   int64
 16  release_date      2030 non-null   datetime64[ns]
 17  speechiness       2030 non-null   float64
 18  tempo             2030 non-null   float64
dtypes: datetime64[ns](1), float64(9), int64(6), object(3)
memory usage: 301.5+ KB
None

# Reading in Multiple Files

## Least Efficient Way

In [25]:
csv_file_list = os.listdir() # Use the os.listdir to see all files in the current directory

csv_file_list

['.ipynb_checkpoints',
 'Intro To Pandas.ipynb',
 'Spotify_2016.csv',
 'Spotify_2017.csv',
 'Spotify_2018.csv',
 'Spotify_2019.csv',
 'Spotify_2020.csv']

As you can see, this is not a clean directory with only CSVs, so we will need to clean this up

In [26]:
csv_file_list = csv_file_list[2:] # Only grab files with index value 1 - 6, not including 6

csv_file_list

['Spotify_2016.csv',
 'Spotify_2017.csv',
 'Spotify_2018.csv',
 'Spotify_2019.csv',
 'Spotify_2020.csv']

In [27]:
# Create an empty list to append the dataframes to
list_of_dataframes = []

# Looping - For each filename in the csv_file_list
for filename in csv_file_list:
    
    # Apply the read_csv function to the filename, then append the file to the empty list
    list_of_dataframes.append(pd.read_csv(filename, parse_dates = ['release_date']))

# Concatenate all the CSVs together with the Concat function    
spotify_dataset = pd.concat(list_of_dataframes)

# View the head
spotify_dataset.head()

,valence,year,acousticness,artists,danceability,duration_ms,energy,explicit,id,instrumentalness,key,liveness,loudness,mode,name,popularity,release_date,speechiness,tempo
0,0.225,2016,0.7010,['James Arthur'],0.311,208827,0.485,0,55Am8neGJkdj2ADaM3aw5H,0.000000,6,0.0726,-5.726,0,Train Wreck,88,2016-10-28,0.0365,77.355
1,0.291,2016,0.0689,['Post Malone'],0.556,223347,0.538,1,75ZvA4QfFiZvzhj2xkaWAh,0.000000,8,0.1960,-5.408,0,I Fall Apart,83,2016-12-09,0.0382,143.950
2,0.488,2016,0.2450,['Ricky Montgomery'],0.639,216880,0.526,0,0MF5QHFzTUM2dYm6J7Vngt,0.000024,0,0.2500,-6.697,1,Mr Loverman,82,2016-04-08,0.0256,130.033
3,0.494,2016,0.6950,['James Arthur'],0.358,211467,0.557,0,5uCax9HTNlzGybIStD3vDh,0.000000,10,0.0902,-7.398,1,Say You Won't Let Go,86,2016-10-28,0.0590,85.043
4,0.572,2016,0.1670,['Childish Gambino'],0.743,326933,0.347,1,0wXuerDYiBnERgIpbb3JBR,0.009510,1,0.1030,-11.174,1,Redbone,82,2016-12-02,0.1210,160.143

## More Efficient Way

The glob module finds all the pathnames matching a specified pattern according to the rules used by the Unix shell, although results are returned in arbitrary order.

In [28]:
import glob

In [29]:
glob.glob('*.csv') # Returns a list of all files ending in CSV

['Spotify_2016.csv',
 'Spotify_2017.csv',
 'Spotify_2018.csv',
 'Spotify_2019.csv',
 'Spotify_2020.csv']

Note the star at the beginning. That means Glob doesn't care what's at the beginning of the pattern, it only cares about finding the .csv pattern

In [30]:
glob.glob('Spotify*') # Look for all files that contain Spotify in the name

['Spotify_2016.csv',
 'Spotify_2017.csv',
 'Spotify_2018.csv',
 'Spotify_2019.csv',
 'Spotify_2020.csv']

In [31]:
glob.glob('Spotify_202*.csv') # Matches all of the filenames which begin with Spotify_202 and ends with .csv

['Spotify_2020.csv']

## Most Efficient Way

### For Loop

In [32]:
# Create an empty list to append the dataframes to
list_of_dataframes = []

# Looping - For each filename in the csv_file_list
for filename in glob.glob('Spotify*.csv'):
    
    # Apply the read_csv function to the filename, then append the file to the empty list
    list_of_dataframes.append(pd.read_csv(filename, parse_dates = ['release_date']))

# Concatenate all the CSVs together with the Concat function    
spotify_2016_2020 = pd.concat(list_of_dataframes)

# View the unique years in the dataframe
spotify_2016_2020['year'].unique()

array([2016, 2017, 2018, 2019, 2020], dtype=int64)

### List Comprehension

In [33]:
spotify_2016_2020 = pd.concat([pd.read_csv(filename, parse_dates = ['release_date']) for filename in glob.glob('Spotify*.csv')])

spotify_2016_2020['year'].unique()

array([2016, 2017, 2018, 2019, 2020], dtype=int64)

### And Finally, Write Dataframe to CSV

In [35]:
spotify_2016_2020.to_csv('Spotify_2016_2020.csv', index=False) # note that index = False must be added otherwise an index column will appear in the csv

# Miscellaneous Pandas Functions

## Filtering

In [36]:
# Create new dataframe filtered to 2020 data only
spotify_2020 = spotify_2016_2020.loc[spotify_2016_2020['year'] == 2020]
spotify_2020['year'].unique()

array([2020], dtype=int64)

In [37]:
spotify_2020_popularity = spotify_2020.loc[(spotify_2020['popularity'] >= 90) & (spotify_2020['explicit'] == 0)]

print(spotify_2020_popularity.popularity.unique())
print(spotify_2020_popularity.explicit.unique())

[95 96 97 93 92 91 90 94]
[0]

In [38]:
# Selecting a few columns with a condition
spotify_2020_filtered = spotify_2016_2020.loc[(spotify_2016_2020['popularity'] >= 90), ['artists', 'name']]

spotify_2020_filtered.head()

                      artists                    name
0                  ['Clairo']                   Sofia
1            ['Harry Styles']        Watermelon Sugar
7           ['Lewis Capaldi']       Someone You Loved
20           ['Topic', 'A7S']             Breaking Me
0   ['24kGoldn', 'iann dior']  Mood (feat. iann dior)

## Group By

In [40]:
# Group by popularity, count number of song IDs per popularity ranking
spotify_2020.groupby('popularity')['id'].count()

popularity
0      61
1      40
2      26
3      14
4      11
       ..
95      4
96      4
97      1
99      1
100     1
Name: id, Length: 92, dtype: int64

In [42]:
# Grouping by Artists, Counting the number of times they appear
artists_2020 = spotify_2020.groupby('artists').artists.count()
artists_2020.sort_values(ascending = False)

artists
['Future', 'Lil Uzi Vert']                75
['YoungBoy Never Broke Again']            32
['J Balvin']                              26
['NAV']                                   25
['BTS']                                   24
                                          ..
['King Von', 'Polo G']                     1
['King Von', 'Moneybagg Yo']               1
['Sturgill Simpson']                       1
['King Von', 'Lil Durk', 'Prince Dre']     1
['lafur Arnalds']                         1
Name: artists, Length: 1065, dtype: int64

In [48]:
# Group by artists, use agg function to count the number of times they appear, get max and min popularity
artists_2020 = spotify_2020.groupby(['artists', 'name']).agg({'popularity': ['min', 'max']})
artists_2020.T

artists        ["Olivia O'Brien"]         ["Why Don't We"]  \
name                      Josslyn NOW Fallin (Adrenaline)
popularity min                 77  68                   81
           max                 77  68                   81

artists        ['$NOT', 'Flo Milli']          ['$NOT', 'Maggie Lindemann']  \
name                            Mean Moon & Stars (feat. Maggie Lindemann)
popularity min                    65                                    76
           max                    71                                    76

artists          ['$NOT', 'Night Lovell']     ['$NOT', 'Wifisfuneral']  \
name           Human (feat. Night Lovell) BERETTA (feat. Wifisfuneral)
popularity min                         67                           69
           max                         67                           69

artists            ['$NOT', 'iann dior'] ['$NOT']          ... ['mike.']  \
name           Like Me (feat. iann dior)    GOSHA Revenge  ...   2 birds
popularity min                        70       78      70  ...        66
           max                        70       78      70  ...        66

artists        ['niko-qe']                             ['ppcocaine']  \
name                 Finest Like a Rose No sleep at all          DDLG
popularity min            0           0               0            65
           max            0           0               0            65

artists                        ['salem ilese'] ['twocolors']  \
name           Hugh Hefner  PJ   Mad at Disney      Lovefool
popularity min          67  68              88            84
           max          67  68              88            84

artists                       ['lafur Arnalds']
name           We Contain Multitudes (from home)
popularity min                                70
           max                                70

[2 rows x 1735 columns]

## Creating New Columns

In [44]:
# Create a new column for minutes
spotify_2020['minutes'] = spotify_2020['duration_ms'] / 60000

# Create a new column for day of week for release date
spotify_2020['weekday'] = spotify_2020['release_date'].dt.day_name()

spotify_2020.head()

,valence,year,acousticness,artists,danceability,duration_ms,energy,explicit,id,instrumentalness,...,liveness,loudness,mode,name,popularity,release_date,speechiness,tempo,minutes,weekday
0,0.756,2020,0.2210,"['24kGoldn', 'iann dior']",0.700,140526,0.722,1,3tjFYV6RSFtuktYl3ZtYcq,0.000000,...,0.2720,-3.558,0,Mood (feat. iann dior),99,2020-07-24,0.0369,90.989,2.342100,Friday
1,0.347,2020,0.1140,"['Pop Smoke', 'Lil Baby', 'DaBaby']",0.823,190476,0.586,1,0PvFJmanyNQMseIFrU708S,0.000000,...,0.1930,-6.606,0,For The Night (feat. Lil Baby & DaBaby),95,2020-07-03,0.2000,125.971,3.174600,Friday
2,0.357,2020,0.0194,"['Cardi B', 'Megan Thee Stallion']",0.935,187541,0.454,1,4Oun2ylbjFKMPTiaSbbCih,0.000000,...,0.0824,-7.509,1,WAP (feat. Megan Thee Stallion),96,2020-08-07,0.3750,133.073,3.125683,Friday
3,0.522,2020,0.2440,"['Drake', 'Lil Durk']",0.761,261493,0.518,1,2SAqBLGA283SUiwJ3xOUVI,0.000035,...,0.1070,-8.871,1,Laugh Now Cry Later (feat. Lil Durk),93,2020-08-14,0.1340,133.976,4.358217,Friday
4,0.682,2020,0.4680,['Ariana Grande'],0.737,172325,0.802,1,35mvY5S1H3J2QZyna3TFe0,0.000000,...,0.0931,-4.771,1,positions,96,2020-10-30,0.0878,144.015,2.872083,Friday